.App-content {
  // background-color: aqua;
  width: 100%;
  h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }
  p {
    font-size: 14px;
  }
  @media screen and (max-width: 760px) {
    width: 90%;
  }
}
.footer {
  justify-content: space-between;
  position: absolute;
  display: flex;
  width: 90%;
  font-size: 14px;
  bottom: 20px;
  p {
    background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  p:before {
    content: "";
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  p:hover {
    background-position: 0;
  }

  p:hover::before {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  top: 40px;
}
.profile {
  width: 40px;
  border-radius: 50%;
  &:hover {
    opacity: 0.5;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
