.modal-mask {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  color: black;
  transition: opacity 0.3s ease;
}

.modal-backdrop {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #00000094;
  z-index: 22;
}
.modal {
  background: #ffffff;
  display: block;
  overflow-y: auto;
  position: relative;
  border-radius: 16px;
  padding: 18px;

  &-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
  }
}
.modal-content {
  width: auto;
  border-radius: 16px;
}

.header1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  h3 {
    font-size: 20px;
    padding: 2px;
    font-weight: 400;
    color: gray;
  }
}
