.App {
  text-align: center;
  padding: 60px;
  &-logo {
    height: 40vmin;
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  &-header {
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  &-link {
    color: #61dafb;
  }
}
.dekstop {
  display: block;
  @media screen and (max-width: 700px) {
    display: none;
  }
}
.mobile {
  display: none;
  @media screen and (max-width: 700px) {
    display: block;
  }
}
.bgimg {
  background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

@media print {
  html,
  body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
  #content {
    display: none;
  }
  #content-screen {
    display: block;
  }
}

.overflow-hidden {
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  $star-count: 50;
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);

  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, rgb(97, 92, 92), transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-tail-length: #{random_range(500em, 750em) / 100};
      --top-offset: #{random_range(0vh, 10000vh) / 100};
      --fall-duration: #{random_range(6000, 12000s) / 1000};
      --fall-delay: #{random_range(0, 10000s) / 1000};
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
.copyright {
  position: absolute;
  bottom: 10px;
  left: 50%;
  cursor: pointer;
  color: white;
  z-index: 2;
  transform: translateX(-50%);
  flex-grow: 1;
  font-weight: 300;
  text-align: center;
  animation-duration: 1s;
  animation-fill-mode: both;
  &-modal {
    span {
      color: blue;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    h1 {
      text-align: center;
      font-size: 20px;
      width: 100%;
    }
    &-sponsor {
      display: flex;
      justify-content: center;
      overflow-x: auto;
      margin-top: 20px;
      img {
        width: 70px;
        margin: 10px;
        border-radius: 50%;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  body {
    font-family: 'Karla', sans-serif;
    background-position: center;
    color: #ffffff;
    padding-bottom: 75px;
    @media (min-width: 768px) {
      padding-bottom: 110px;
    }
  }
  .navbar-brand {
    margin-right: 0;

    img {
      height: 21px;
    }
  }
  .navbar-dark {
    padding-top: 35px;
    padding-bottom: 35px;
    .navbar-text {
      color: #ffffff;
      opacity: 1;
      padding: 0 20px;
      border-right: 1px solid #ffffff;
      font-size: 18px;
      font-weight: bold;
      text-align: center;

      &:last-child {
        border-right: 0;
      }
    }

    @media (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  .page-title {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 6px;

    @media (max-width: 767px) {
      font-size: 35px;
      margin-bottom: 14px;
    }
  }
  .page-description {
    max-width: 465px;
    font-size: 18px;
    margin-bottom: 59px;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  p {
    font-size: 14px;
    margin-bottom: 21px;
  }

  .footer-social-links {
    .social-link {
      display: inline-block;
      text-align: center;
      line-height: 40px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ffffff;
      color: #000000;
      margin-right: 16px;
      transition: all 0.3s ease-in-out;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
      }
    }
  }
}
